/*
Syntax error: Invalid CSS after "  filter: progid": expected ";", was ":DXImageTransfo..."
        on line 93 of /Users/zelgerj/Workspace/github/techdivision/TechDivision_ApplicationServerWebsite/sass/_custom.scss
        from line 11 of /Users/zelgerj/Workspace/github/techdivision/TechDivision_ApplicationServerWebsite/sass/styles.scss

Backtrace:
/Users/zelgerj/Workspace/github/techdivision/TechDivision_ApplicationServerWebsite/sass/_custom.scss:93
/Users/zelgerj/Workspace/github/techdivision/TechDivision_ApplicationServerWebsite/sass/styles.scss:11
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1184:in `expected'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1120:in `expected'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1115:in `tok!'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:610:in `block in declaration_or_ruleset'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1160:in `call'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:1160:in `rethrow'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:616:in `declaration_or_ruleset'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:578:in `block_child'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:570:in `block_contents'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:559:in `block'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:553:in `ruleset'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:577:in `block_child'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:570:in `block_contents'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:102:in `stylesheet'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/scss/parser.rb:39:in `parse'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/engine.rb:389:in `_to_tree'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/engine.rb:295:in `to_tree'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:228:in `visit_import'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/tree/root_node.rb:20:in `render'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/sass-3.3.0.alpha.149/lib/sass/engine.rb:265:in `render'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/bin/compass:23:in `load'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/bin/compass:23:in `<main>'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/bin/ruby_noexec_wrapper:14:in `eval'
/Users/zelgerj/.rvm/gems/ruby-2.0.0-p195/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  filter: progid\": expected \";\", was \":DXImageTransfo...\"\A         on line 93 of /Users/zelgerj/Workspace/github/techdivision/TechDivision_ApplicationServerWebsite/sass/_custom.scss\A         from line 11 of /Users/zelgerj/Workspace/github/techdivision/TechDivision_ApplicationServerWebsite/sass/styles.scss"; }
