<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">

    <display-name>site</display-name>
    <description>site</description>

    <context-param>
        <param-name>settingsFile</param-name>
        <param-value>WEB-INF/settings.properties</param-value>
    </context-param>
    <servlet>
        <description/>
        <display-name>IndexServlet</display-name>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>\TechDivision\ApplicationServerWebsite\Servlets\IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>DownloadsServlet</display-name>
        <servlet-name>DownloadsServlet</servlet-name>
        <servlet-class>\TechDivision\ApplicationServerWebsite\Servlets\DownloadsServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>DownloadServlet</display-name>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>\TechDivision\ApplicationServerWebsite\Servlets\DownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DownloadsServlet</servlet-name>
        <url-pattern>/downloads.do*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/dl.do*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>