{{>header}}

    <div class="row">
        <div class="col-md-12">
            {{#Releases}}
            <p>
                <a href="{{html_url}}" target="_blank"><h2>{{name}}</h2></a>
                {{body}}
            </p>
            <table class="table table-bordered table-hover">
                <tbody>
                {{#assets}}
                <tr>
                    <td><a href="{{GitHub.DownloadUrl}}{{tag_name}}/{{name}}"><i class="icon-collapse"></i> {{name}}</a></td>
                    <td>{{label}}</td>
                </tr>
                {{/assets}}
                </tbody>
            </table>
            {{/Releases}}
        </div>
    </div>

    <br/>
    
    <div class="row">
        <div class="col-md-12">
            <p>{{App.Title}}</p>
            <table class="table table-bordered table-hover">
                <tbody>
                {{#Apps}}
                <tr>
                    {{#Links}}
                    <td {{#ColSpan}}colspan="{{ColSpan}}"{{/ColSpan}}>
                        {{#Url}}<a onclick="{{OnClick}}" href="{{Url}}"{{#Class}} class="{{Class}}"{{/Class}}>{{#Icon}}<i class="icon-{{Icon}}"></i>{{/Icon}} {{/Url}}{{Name}}{{#Url}}</a>{{/Url}}
                    </td>
                    <td>{{Name}}</td>
                    {{/Links}}
                </tr>
                {{/Apps}}
                </tbody>
            </table>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-12">
            <p>{{Asset.Title}}</strong></p>
            <table class="table table-bordered table-hover">
                <tbody>
                {{#Assets}}
                <tr>
                    {{#Links}}
                    <td {{#ColSpan}}colspan="{{ColSpan}}"{{/ColSpan}}>
                        {{#Url}}<a onclick="{{OnClick}}" href="{{Url}}"{{#Class}} class="{{Class}}"{{/Class}}>{{#Icon}}<i class="icon-{{Icon}}"></i>{{/Icon}} {{/Url}}{{Name}}{{#Url}}</a>{{/Url}}
                    </td>
                    {{/Links}}
                </tr>
                {{/Assets}}
                </tbody>
            </table>
        </div>
    </div>

{{>footer}}