{{>header}}
    <div class="row-fluid">
        <div class="row">
            <div class="span6 text-right">
                <h4>TechDivision GmbH</h4>
                <p>
                    Spinnereiinsel 3a<br/>
                    83059 Kolbermoor
                </p>
                <h4>Vertreten durch</h4>
                <p>
                    Stefan und Josef Willkommer
                </p>
                <h4>Kontakt</h4>
                <p>
                    Telefon: +49 8031 221055-0<br/>
                    Telefax: +49 8031 221055-22
                </p>
            </div>
            <div class="span6 text-left">
                <h4>Registereintrag</h4>
                <p>
                    Eintragung im Handelsregister.<br/>
                    Registergericht:Amtsgericht Traunstein<br/>
                    Registernummer: HRB 17123
                </p>
                <h4>Umsatzsteuer-ID</h4>
                <p>
                    Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br/>
                    DE249664276
                </p>
                <h4>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h4>
                <p>
                    Josef Willkommer<br/>
                    Spinnereiinsel 3a<br/>
                    83059 Kolbermoor
                </p>
            </div>
        </div>
    </div>
{{>footer}}