<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{Title}}</title>
    <meta name="description" content="{{Description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#Head.Styles}}
    <link href="{{Style}}" rel="stylesheet" type="text/css">
    {{/Head.Styles}}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{Head.Favicon}}">
</head>

<body>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
        {{#Navigation}}
            <li {{#Active}}class="active"{{/Active}}><a href="{{Url}}">{{#__}}{{Name}}{{/__}}</a></li>
        {{/Navigation}}
        </ul>
    </div>
</div>

<div class="jumbotron masthead">
    <div class="container">
        <h1>{{Teaser.Title}}</h1>
        <p class="lead">{{Teaser.Description}}</p>
        <a id="download-link" class="btn btn-primary btn-large"><i class="icon-download icon-large"></i> install appserver</a>
    </div>
</div>

<div class="container main">
    <div class="row-fluid">
        {{#3-Column-Row}}
        <div class="span4">
            <h2><i class="{{Icon}}"></i>&nbsp;{{Title}}</h2>
            <ul class="icons-ul">
            {{#List}}
                <li><i class="icon-li icon-ok"></i>{{Item}}</li>
            {{/List}}
            </ul>
            <p>{{Description}}</p>
        </div>
        {{/3-Column-Row}}
    </div>

    <div class="row-fluid marketing">
        {{#2-Column-Row}}
        <div class="span6">
            <h2><i class="{{Icon}}"></i>&nbsp;{{Title}}</h2>
            <ul class="icons-ul">
            {{#List}}
                <li><i class="icon-li icon-ok"></i>{{Item}}</li>
            {{/List}}
            </ul>
            <p>{{Description}}</p>
        </div>
        {{/2-Column-Row}}
    </div>

    <div class="footer">
        <p>{{{Footer}}}</p>
    </div>

</div>

{{#Head.Scripts}}
<script src="{{Script}}"></script>
{{/Head.Scripts}}

{{{Analytics}}}

</body>
</html>