<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{BaseUrl}}" />
    <meta charset="utf-8">
    <title>{{Title}}</title>
    <meta name="description" content="{{Description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#Head.Styles}}
    <link href="{{Style}}" rel="stylesheet" type="text/css">
    {{/Head.Styles}}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{Head.Favicon}}">
</head>

<body>

<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            {{#Header.Navigation}}
            <li {{#Active}}class="active"{{/Active}}><a href="{{Url}}">{{#Icon}}<i class="{{.}} icon-large"></i>{{/Icon}} {{Name}}</a></li>
            {{/Header.Navigation}}
        </ul>
    </div>
</div>

<div class="jumbotron masthead">
    <div class="container">
        <p>&nbsp;</p>
        {{#Teaser.Title}}<h1>{{/Teaser.Title}}{{#Teaser.Logo}}<img src="{{.}}"/>{{/Teaser.Logo}}{{#Teaser.Title}} {{.}}</h1>{{/Teaser.Title}}
        {{#Teaser.Description}}<p class="lead">{{.}}</p>{{/Teaser.Description}}
        {{#Teaser.Download}}<a id="download-link" class="btn btn-primary btn-large"><i class="icon-download icon-large"></i> {{.}}</a>{{/Teaser.Download}}
    </div>
</div>

<div class="container main">